<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<main>
  <div class="jumbotron">
    <%- include ("./partials/quantity.ejs") -%>

    <% if(quantity > 0){ %>
        <% for(int i = 0; i < quantity; i++) {%>
            
  </div>
</main>
</body>
</html>