<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<main>
  <div class="jumbotron">
    <div>
      <div>
              <h2>Quantity</h2>
              <input type="number" name="quantity" id="quantity" value="quantity" placeholder="type here">
              <input type="button" name="action" id="action" value="generate">        
      </div>
      
      <div id="generate">

      </div>

  
  </div>
  </div>
</main>
<script>
  let input = document.getElementById('quantity')
  let actionButton = document.getElementById('action')
  let generate = document.getElementById('generate')
  let divGenerated = document.createElement("div")

  actionButton.addEventListener("click", getInputValue)

  function getInputValue(){
    let quantity = parseInt(input.value)
    let textNode;
    for (let index = 0; index < quantity; index++){
      generate.appendChild(divGenerated)
    }
  }


</script>
</body>
</html>