<div>
    <div>
        <form action="">
            <h2>Quantity</h2>
            <input type="text" name="quantity" id="quantity" placeholder="type here">
            <input type="submit" value="">
        </form>        
    </div>

</div>